In [142]:
import scipy.stats as stats
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [143]:
species_df = pd.read_csv('species_info.csv');
observ_df = pd.read_csv('observations.csv');

#pd.set_option('display.max_columns', None);
pd.set_option('display.expand_frame_repr', False);

biodiversity_df = pd.merge(species_df, observ_df, on = 'scientific_name', how = 'outer');
print(biodiversity_df);

             category                scientific_name                                       common_names conservation_status                            park_name  observations
0              Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN                  Bryce National Park           130
1              Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN            Yellowstone National Park           270
2              Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN  Great Smoky Mountains National Park            98
3              Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN               Yosemite National Park           117
4              Mammal                      Bos bison                              American Bison, Bison                 NaN               Yosemite National Park           128
...               ...                            ...                                                ...                 ...                                  ...           ...
25627  Vascular Plant              Vitis californica            California Grape, California Wild Grape                 NaN            Yellowstone National Park           237
25628  Vascular Plant            Tribulus terrestris  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN  Great Smoky Mountains National Park            50
25629  Vascular Plant            Tribulus terrestris  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN            Yellowstone National Park           239
25630  Vascular Plant            Tribulus terrestris  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN                  Bryce National Park           111
25631  Vascular Plant            Tribulus terrestris  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN               Yosemite National Park           156

[25632 rows x 6 columns]

In [144]:
print(biodiversity_df.columns);
print(biodiversity_df.category.unique());

Index(['category', 'scientific_name', 'common_names', 'conservation_status',
       'park_name', 'observations'],
      dtype='object')
['Mammal' 'Bird' 'Reptile' 'Amphibian' 'Fish' 'Vascular Plant'
 'Nonvascular Plant']

In [145]:
print(biodiversity_df.dtypes);

category               object
scientific_name        object
common_names           object
conservation_status    object
park_name              object
observations            int64
dtype: object

In [146]:
print(biodiversity_df.isna().sum());

category                   0
scientific_name            0
common_names               0
conservation_status    24752
park_name                  0
observations               0
dtype: int64

In [147]:
duplicates = biodiversity_df.duplicated();
print(duplicates.value_counts());

False    25601
True        31
dtype: int64

In [148]:
biodiversity_df = biodiversity_df.drop_duplicates();
duplicates_bio = biodiversity_df.duplicated();
print(duplicates_bio.value_counts());

False    25601
dtype: int64

In [149]:
biodiversity_df = biodiversity_df.reset_index(drop=True);
print(biodiversity_df);

             category                scientific_name                                       common_names conservation_status                            park_name  observations
0              Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN                  Bryce National Park           130
1              Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN            Yellowstone National Park           270
2              Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN  Great Smoky Mountains National Park            98
3              Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN               Yosemite National Park           117
4              Mammal                      Bos bison                              American Bison, Bison                 NaN               Yosemite National Park           128
...               ...                            ...                                                ...                 ...                                  ...           ...
25596  Vascular Plant              Vitis californica            California Grape, California Wild Grape                 NaN            Yellowstone National Park           237
25597  Vascular Plant            Tribulus terrestris  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN  Great Smoky Mountains National Park            50
25598  Vascular Plant            Tribulus terrestris  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN            Yellowstone National Park           239
25599  Vascular Plant            Tribulus terrestris  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN                  Bryce National Park           111
25600  Vascular Plant            Tribulus terrestris  Bullhead, Caltrop, Goathead, Mexican Sandbur, ...                 NaN               Yosemite National Park           156

[25601 rows x 6 columns]

In [152]:
unique_park_name_list = list(biodiversity_df.park_name.unique());
#print(unique_park_name_list)
unique_sc_name_list = list(biodiversity_df.scientific_name.unique());
biodiversity_list = list(range(0,len(biodiversity_df)));
index_loc = 0;

def create_park_columns(p_name):
    biodiversity_df[p_name] = biodiversity_df.apply(lambda row: \
                                                    row['observations']
                                                    if row['park_name'] == p_name
                                                    else 0,
                                                    axis = 1)
    return

for p_name in unique_park_name_list:
    create_park_columns(p_name);

print(biodiversity_df.head(10));
print(biodiversity_df.dtypes);

  category                scientific_name                                       common_names conservation_status                            park_name  observations  Bryce National Park  Yellowstone National Park  Great Smoky Mountains National Park  Yosemite National Park
0   Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN                  Bryce National Park           130                  130                          0                                    0                       0
1   Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN            Yellowstone National Park           270                    0                        270                                    0                       0
2   Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN  Great Smoky Mountains National Park            98                    0                          0                                   98                       0
3   Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN               Yosemite National Park           117                    0                          0                                    0                     117
4   Mammal                      Bos bison                              American Bison, Bison                 NaN               Yosemite National Park           128                    0                          0                                    0                     128
5   Mammal                      Bos bison                              American Bison, Bison                 NaN            Yellowstone National Park           269                    0                        269                                    0                       0
6   Mammal                      Bos bison                              American Bison, Bison                 NaN                  Bryce National Park            68                   68                          0                                    0                       0
7   Mammal                      Bos bison                              American Bison, Bison                 NaN  Great Smoky Mountains National Park            77                    0                          0                                   77                       0
8   Mammal                     Bos taurus  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN                  Bryce National Park            99                   99                          0                                    0                       0
9   Mammal                     Bos taurus  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN               Yosemite National Park           124                    0                          0                                    0                     124
category                               object
scientific_name                        object
common_names                           object
conservation_status                    object
park_name                              object
observations                            int64
Bryce National Park                     int64
Yellowstone National Park               int64
Great Smoky Mountains National Park     int64
Yosemite National Park                  int64
dtype: object

In [151]:
def dataframes_per_scnames(scname):
    biodiversity_dataframe = biodiversity_df[biodiversity_df["scientific_name"] == scname];
    new_biodiversity_dataframe = biodiversity_dataframe.copy();
    for park in unique_park_name_list:
        new_biodiversity_dataframe[park] = np.sum(new_biodiversity_dataframe[park]);
    new_biodiversity_dataframe = new_biodiversity_dataframe.drop_duplicates(subset = new_biodiversity_dataframe.columns[0:2]);
    #print(new_biodiversity_dataframe);
    return new_biodiversity_dataframe

for s_name in unique_sc_name_list:
    if s_name == biodiversity_df["scientific_name"][0]:
        new_biodiversity = dataframes_per_scnames(s_name);
    else:
        new_biodiversity = pd.merge(new_biodiversity, dataframes_per_scnames(s_name), how = 'outer');

print(new_biodiversity.head());

c:\Users\melbaabo\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
c:\Users\melbaabo\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
c:\Users\melbaabo\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
c:\Users\melbaabo\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
c:\Users\melbaabo\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
c:\Users\melbaabo\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)
c:\Users\melbaabo\anaconda3\lib\site-packages\pandas\core\reshape\merge.py:916: FutureWarning: In a future version, the Index constructor will not infer numeric dtypes when passed object-dtype sequences (matching Series behavior)
  key_col = Index(lvals).where(~mask_left, rvals)

  category                scientific_name                                       common_names conservation_status                  park_name  observations  Bryce National Park  Yellowstone National Park  Great Smoky Mountains National Park  Yosemite National Park
0   Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN        Bryce National Park           130                  130                        270                                   98                     117
1   Mammal                      Bos bison                              American Bison, Bison                 NaN     Yosemite National Park           128                   68                        269                                   77                     128
2   Mammal                     Bos taurus  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN        Bryce National Park            99                   99                        235                                   56                     124
3   Mammal                     Ovis aries  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN     Yosemite National Park           126                  119                        221                                   76                     126
4   Mammal                 Cervus elaphus                                      Wapiti Or Elk                 NaN  Yellowstone National Park           225                  366                        990                                  322                     758

In [153]:
print(new_biodiversity.isna().sum());

category                                  0
scientific_name                           0
common_names                              0
conservation_status                    5363
park_name                                 0
observations                              0
Bryce National Park                       0
Yellowstone National Park                 0
Great Smoky Mountains National Park       0
Yosemite National Park                    0
dtype: int64

In [154]:
new_biodiversity = new_biodiversity.drop(columns = ['park_name','observations']);
print(new_biodiversity.head());

  category                scientific_name                                       common_names conservation_status  Bryce National Park  Yellowstone National Park  Great Smoky Mountains National Park  Yosemite National Park
0   Mammal  Clethrionomys gapperi gapperi                           Gapper's Red-Backed Vole                 NaN                  130                        270                                   98                     117
1   Mammal                      Bos bison                              American Bison, Bison                 NaN                   68                        269                                   77                     128
2   Mammal                     Bos taurus  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN                   99                        235                                   56                     124
3   Mammal                     Ovis aries  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN                  119                        221                                   76                     126
4   Mammal                 Cervus elaphus                                      Wapiti Or Elk                 NaN                  366                        990                                  322                     758